ion-label.validation {
  font-size: 0.8em;
  margin-left: 15px
}

ion-card {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  &.ion-color-success {
    background-color: transparent;
    border: 2px solid var(--ion-color-success-shade);
    color: var(--ion-color-success-shade);
    box-shadow: none;
  }
}
ion-card-content {
  p {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  ion-button {
    margin-top: 20px;
  }
}

.card-icon-header {
  display: flex;
  padding: 15px;
  ion-card-title {
    line-height: 50px;
    margin-left: 30px;
  }
  ion-icon {
    font-size: 50px;
  }
  svg {
    font-size: 35px;
    margin-top: 6px;
  }
}


.message-banner {
  padding: 10px 15px;
  border-radius: 4px;
  border-left: 6px solid grey;
  p, ul, li {
    margin: 0;
  }
  ul {
    padding-left: 20px;
  }


  &.is-danger {
    border-color: var(--ion-color-danger-shade);
    background-color: rgb(220, 45, 45, 0.2);
    p,ul,li {
      color: var(--ion-color-light-contrast);
    }
  }

  &.is-success {
    border-color: var(--ion-color-success-shade);
    background-color: rgb(45, 220, 45, 0.2);
    p,ul,li {
      color: var(--ion-color-light-contrast);
    }
  }

  &.is-info {
    border-color: var(--ion-color-primary-shade);
    background-color: rgb(45, 45, 220, 0.2);
    p,ul,li {
      color: var(--ion-color-light-contrast);
    }
  }

  &.is-narrow {
    width: fit-content;
    padding-right: 30px;
  }

}