@media (prefers-color-scheme: light) {
  .card-icon-header {
    background-color: #e8eaef;
    color: var(--ion-color-dark);
  }

  .card-icon-header ion-card-title {
    color: var(--ion-color-dark);
  }
  ion-input {
    border-bottom: 2px solid #ccc;
  }
}