.table {
  table-layout: fixed;
  width: 100%;
  border-radius: 15px;
  background: var(--ion-item-background);
  th {
    padding: 25px;
  }
  thead {
    border-bottom: 1px solid var(--ion-color-primary-shade)!important;
  }
  td {
    padding: 15px 25px;
  }
  tbody {
    tr:nth-of-type(odd) {
      background: var(--ion-color-light);
    }
    tr:nth-of-type(even) {
      background: var(--ion-color-light-shade);
    }
    tr:hover {
      background: var(--ion-color-light-tint);
      cursor: pointer;
    }
  }

  &.is-small {
    th {
      padding: 10px;
    }
    td {
      padding: 5px 10px;
    }
  }

}