.table {
  width: 100%;
  border-radius: 15px;
  background: var(--ion-item-background);
  th {
    padding: 25px;
  }
  thead {
    border-bottom: 1px solid var(--ion-color-primary-shade)!important;
  }
  td {
    padding: 15px 25px;
  }
  tbody {
    tr:nth-of-type(odd) {
      background: var(--ion-color-light);
    }
    tr:hover {
      background: var(--ion-color-light-tint);
      cursor: pointer;
    }
  }

}