@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --ion-font-family: 'Montserrat', sans-serif;
}
.container {
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.container strong {
    font-size: 20px;
    line-height: 26px;
}

.container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

.container a {
    text-decoration: none;
}


ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-menu.md ion-list {
    padding: 20px 0;
}

ion-menu.md ion-note {
    margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
    padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;

    min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;

    margin-bottom: 18px;

    color: #757575;

    min-height: 26px;
}

ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
    color: #616e7e;
}

ion-menu.md ion-item ion-label {
    font-weight: 500;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;

    color: var(--ion-color-medium-shade);
}

ion-item.selected {
    --color: var(--ion-color-primary);
}

ion-label.validation {
    font-size: 0.8em;
    margin-left: 15px
}

ion-card {
    margin-left: 0;
    margin-right: 0;
}


.error-list h3, h2 {
    color: var(--ion-color-danger);
    margin: 20px;
}

.error-list {
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--ion-color-danger);
    border-style: solid;
}

ion-card.ion-color-success {
    background-color: transparent;
    border: 2px solid var(--ion-color-success-shade);
    color: var(--ion-color-success-shade);
    box-shadow: none;
}

.card-icon-header {
    display: flex;
    padding: 15px;
}

.card-icon-header ion-card-title {
    line-height: 50px;
    margin-left: 30px;
}

@media (prefers-color-scheme: dark) {
    .card-icon-header {
        background: var(--ion-color-dark-shade);
        color: var(--ion-color-dark-contrast);
    }
    .card-icon-header ion-card-title {
        color: var(--ion-color-dark-contrast);
    }
}

@media (prefers-color-scheme: light) {
    .card-icon-header {
        background: var(--ion-color-dark-shade);
        color: var(--ion-color-dark-contrast);
    }

    .card-icon-header ion-card-title {
        color: var(--ion-color-dark-contrast);
    }
}

.card-icon-header ion-icon {
    font-size: 50px;
}

ion-card-content p {
    padding-bottom: 5px;
    padding-top: 5px;
}

ion-card-content ion-button {
    margin-top: 20px;
}

ion-card {
    margin-bottom: 20px;
}

.icon-title {
    display: flex;
    align-items: center; /* Center vertically */
}

.icon-title ion-icon {
    font-size: 1.5em;
    margin-right: 8px;
}

.is-loading {
    display: block;
    margin: auto;
}

.formatted-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.formatted-table th,
.formatted-table td {
    padding: 12px 15px;
    text-align: left;
}

.formatted-table th {
    color: var(--ion-color-primary);
    font-weight: bold;
}

.formatted-table tr:nth-child(even) {
    background-color: var(--ion-background-color-step-50); /* Light gray for even rows */
}

.formatted-table tbody tr:hover {
    background-color: var(--ion-background-color-step-100); /* Slightly darker gray on hover */
}

.formatted-table td {
    border-bottom: 1px solid var(--ion-color-primary); /* Add bottom border to separate rows */
}

.formatted-table thead {
    border-bottom: 2px solid var(--ion-color-primary); /* Bold border under header */
}

.has-background {
    background: var(--ion-item-background);
}
.has-padding {
    padding: 12px;
}

ion-item .item-heading {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    font-size: 0.85em;
    color: var(--ion-color-base);
}
ion-item .item-value {
    color: var(--ion-color-base);
    margin-top: 5px;
    padding-top: 0;
    margin-bottom: 10px;
}
.is-color-base {
    color: var(--ion-color-base)!important;
}
.is-color-primary {
    color: var(--ion-color-primary-shade)!important;
}

.formatted-table img {
    height: 100px;
}
.fullscreen {
    --width:100% !important;
    --height:100% !important;
}